body{
    background-color: whitesmoke;
}
.atas{
    background-color: blue ;
    margin-bottom: 50px;
}
.atas1{
    position: absolute;
    margin-left: 20px;
}
.atas2{
    position: absolute;
    left: 200px;
}
.atas3{
    position: absolute;
    left: 450px;
    margin-top: 10px;
    margin-left: 50px;
}
#kirim{
    background-color: blue;
    color: white;
    border-color: blue;
}
#resume{
    color: green;
    border-color: green;
}
.datadiri{
    width: 920px;
    background-color: white;
    margin-top: 100px;
    margin-left: 20px;
}
#nama{
    border-style: groove;
    border-inline-start-width: 5%;
}
#submit{
    border-style: groove;
    background-color: green;
    color: white;
    text-align: center;
    border-color: green;
}
.btn-light{
    margin-right: 20px;
}
.dropbtn {
    color: black;
    margin-top: 10px;
    border: none;
    cursor: pointer;
  }
    
    .dropdown {
      position: relative;
      display: inline-block;
      margin-top: 7px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: orange;
    }